#Home{
  height: 100%;
  width: 100vw;
  overflow-y: auto;
  #GameContainer{
    width: 80vw;
  }
  .position-absolute{
    top: 0;
    left: 0;
    .text-secondary{
      user-select: none;
    }
  }
}